* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background: #44a602;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

header h1 {
    color: antiquewhite;
}

.header-main {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    align-items: center;
    background-color: whitesmoke;
}

.header-main-extensoes {
    display: flex;
    padding-left: 100px;
}

.header-main-extensoes p {
    margin-right: 15px;
    font-size: 14px;
    padding-top: 5px;
}

.header-main-extensoes p:hover {
    text-decoration: underline;
}

 .header-main-extensoes .globo-com {
    color: blue !important;
}

 .header-main-extensoes .g1 {
    color: red;
}

 .header-main-extensoes .ge {
    color: green;
}

 .header-main-extensoes .gshow{
    color: orangered;
}

 .header-main-extensoes .globoplay {
    color: rgb(196, 8, 8);
}

 .header-main-extensoes .cartola {
    color: brown;
}

 .header-main img{
    width: 30px;
    height: 30px;
}


 .header-main-conta-globo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.header-sub-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #44a602;
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid rgba(190, 188, 188, 0.287);
}

.header-sub-main-menu h1 {
    font-size: 18px;
}

header .header-sub-main-extencao {
    display: flex;
    text-align: center;
}

.header-sub-main-extencao h1 {
    font-size: 20px;
    font-weight: bold;
}

header .header-sub-main-extencao img {
    height: 25px;
    margin-left: 10px;
}

.header-sub-main-title h1 {
    font-size: 22px;
    font-weight: bold;
}

.header-sub-main-search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 15px;
    border-radius: 17px;
}

.header-sub-main-search-bar form {
    font-size: 14px;
    color: #3333333b;
}

.header-texto {
    padding: 5px 0 10px 100px ;
}

.header-texto h1 {
    font-size: 18px;
    border-bottom: 5px +--white;
    font-weight: bold;
}

main {
    margin: 250px 0;
}

main h1 {
    padding-left: 300px;
    padding-top: 10px;
}

.table {
    width: 65%;
    margin: 100px 300px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
}

.classificacao {
    text-align: left;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    color: #3333335b;
}

td:nth-child(even) {
    background: #bababa36;
}

td:first-child {
    text-align: left;
    border-right: 1px solid #aaaaaa;
    font-weight: bold;
    border-collapse: collapse;
}

td:nth-child(2) {
    font-weight: bolder;
}

.azul span{
    color: blue;
    font-weight: bolder;
}

.azul-claro span {
    color: rgb(0, 255, 217);
    font-weight: bolder;
}
.verde span {
    color: #4db805;
    font-weight: bolder;
}

.cinza span {
    color: #9a9a9a;
    font-weight: bolder;
}

.vermelho span {
    color: #ff0000;
    font-weight: bolder;
}

footer {
    background-color: #44a602; 
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 36px;
    font-weight: 1000;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a, .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

@media (max-width: 768px) {

    .header-main {
        flex-direction: column;
        text-align: center;
    }

    .header-sub-main {
        flex-direction: column;
        text-align: center;
    }

    .header-sub-main-search-bar {
        margin-top: 10px;
        width: 80%;
    }
}